<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>A4纸大小HTML</title>
    <style>
        body {
            width: 1382px;
            padding: 0;
            margin: 0;
        }
        span {
            font-family: "Andale Mono",serif;
        }
        .title {
            width: 1320px;
            height: 84px;
            margin: 0;
            padding: 0;
            font-size: 28px;
            text-align: center;
        }
        .subtitle {
            width: 1320px;
            height: 38px;
            padding: 0;
            margin: 0;
            font-size: 0; /* 消除两个相连div间隙 */
        }
        .subtitle span {
            display: inline-block;
            border: 0;
            width: 200px;
            height: 30px;
            font-size: 14px;
        }
        .body-table-class {
            width: 1320px;
            margin: 0;
            padding: 0;
            font-size: 0;
        }
        .body-table-head-class {
            width: 1320px;
            margin: 0;
            padding: 0;
            font-size: 0;
            display: flex;
            flex-wrap: wrap; /* 允许弹性盒子换行 */
        }
        .body-table-head-class div {
            display: inline-block;
            margin: 0;
            padding: 0;
            height: 144px;
            font-size: 0;
        }
        .body-table-data-class {
            width: 1320px;
            margin: 0;
            padding: 0;
            font-size: 0;
            display: flex;
            flex-wrap: wrap; /* 允许弹性盒子换行 */
            height: 36px;
        }
        .body-table-interval-class {
            font-size: 0;
            flex-grow: 0; /* 防止元素在弹性盒子中拉伸 */
            border: 1px solid #ddd;
            border-collapse: collapse; /* 合并表格边框 */
            box-sizing: border-box; /* 让边框和内边距包含在总宽度内 */
        }
        .body-table-interval-class span {
            display: flex;
            font-size: 14px;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        .body-table-data-interval-class {
            flex-grow: 0; /* 防止元素在弹性盒子中拉伸 */
            border: 1px solid #ddd;
            border-collapse: collapse; /* 合并表格边框 */
            box-sizing: border-box; /* 让边框和内边距包含在总宽度内 */
        }
        .body-table-data-interval-class span {
            display: flex;
            font-size: 12px;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div style="width: 1340px">
    <div class="title">
        <span>压疮护理记录单</span>
    </div>
    <div class="subtitle">
        <span>科室： zzh01 </span>
        <span>姓名： 008 </span>
        <span>床号： 008 </span>
        <span>住院号： 卫DL </span>
        <span>诊断： 008 </span>
        <span>入院日期： 008 </span>
    </div>
    <div class="body-table-class">
        <div class="body-table-head-class">
            <div class="body-table-interval-class" style="width: 140px">
                <span>日期</span>
            </div>
            <div class="body-table-interval-class" style="width: 80px">
                <span>压疮分期</span>
            </div>
            <div class="body-table-interval-class" style="width: 120px">
                <span>压疮部位</span>
            </div>
            <div style="width: 120px">
                <div class="body-table-interval-class" style="width: 120px; height: 48px">
                    <span>压疮大小mm</span>
                </div><div class="body-table-interval-class" style="width: 40px; height: 96px">
                <span>长</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 96px">
                <span>宽</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 96px">
                <span>深</span>
            </div>
            </div>
            <div style="width: 80px">
                <div class="body-table-interval-class" style="width: 80px; height: 48px">
                    <span>疮面情况</span>
                </div><div class="body-table-interval-class" style="width: 40px; height: 96px">
                <span>水泡</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 96px">
                <span>颜色</span>
            </div>
            </div>
            <div style="width: 240px">
                <div class="body-table-interval-class" style="width: 240px; height: 48px">
                    <span>分泌物</span>
                </div><div class="body-table-interval-class" style="width: 120px; height: 48px">
                <span>量</span>
            </div><div class="body-table-interval-class" style="width: 120px; height: 48px">
                <span>性状</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 48px">
                <span>少</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 48px">
                <span>中</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 48px">
                <span>多</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 48px">
                <span>血性</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 48px">
                <span>肿性</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 48px">
                <span>恶臭</span>
            </div>
            </div>
            <div style="width: 160px">
                <div class="body-table-interval-class" style="width: 160px; height: 48px">
                    <span>周边皮肤浸润</span>
                </div><div class="body-table-interval-class" style="width: 40px; height: 96px">
                <span>红晕</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 96px">
                <span>水肿</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 96px">
                <span>浸泽</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 96px">
                <span>红疹</span>
            </div>
            </div>
            <div style="width: 120px">
                <div class="body-table-interval-class" style="width: 120px; height: 48px">
                    <span>潜行</span>
                </div><div class="body-table-interval-class" style="width: 40px; height: 96px">
                <span>位置</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 96px">
                <span>长mm</span>
            </div><div class="body-table-interval-class" style="width: 40px; height: 96px">
                <span>宽mm</span>
            </div>
            </div>
            <div class="body-table-interval-class" style="width: 200px;">
                <span>护理记录</span>
            </div>
            <div class="body-table-interval-class" style="width: 60px;">
                <span>签名</span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span> 2024-04-29 20:21:28 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span> Ⅱ期  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span> 下颌  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 79 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 90  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 40  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √ </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 粉色  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 随机潜行位置  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 14  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 52  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 皮肤记录 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>  </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span> 2024-04-29 20:21:28 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span> Ⅱ期  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span> 下颌  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 32 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 73  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 43  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √ </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 粉色  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 随机潜行位置  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 75  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 58  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 皮肤记录 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>  </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span> 2024-04-29 20:21:28 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span> 痊愈  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span> 生殖器  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 80 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 76  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 88  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √ </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 黄色  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 随机潜行位置  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 81  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 14  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 皮肤记录皮肤记录皮肤记录皮肤 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>  </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 记录皮肤记录皮肤记录皮肤记录 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>   </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 皮肤记录皮肤记录皮肤记录皮肤 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>   </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 记录皮肤记录 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>   </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span> 2024-04-29 20:21:28 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span> Ⅱ期  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span> 下颌  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 79 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 90  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 40  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √ </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 粉色  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 随机潜行位置  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 14  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 52  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 皮肤记录 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>  </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span> 2024-04-29 20:21:28 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span> Ⅱ期  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span> 下颌  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 32 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 73  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 43  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √ </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 粉色  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 随机潜行位置  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 75  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 58  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 皮肤记录 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>  </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span> 2024-04-29 20:21:28 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span> 痊愈  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span> 生殖器  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 80 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 76  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 88  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √ </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 黄色  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 随机潜行位置  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 81  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 14  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 皮肤记录皮肤记录皮肤记录皮肤 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>  </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 记录皮肤记录皮肤记录皮肤记录 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>   </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 皮肤记录皮肤记录皮肤记录皮肤 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>   </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 记录皮肤记录 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>   </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span> 2024-04-29 20:21:28 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span> Ⅱ期  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span> 下颌  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 79 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 90  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 40  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √ </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 粉色  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 随机潜行位置  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 14  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 52  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 皮肤记录 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>  </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span> 2024-04-29 20:21:28 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span> Ⅱ期  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span> 下颌  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 32 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 73  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 43  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √ </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 粉色  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 随机潜行位置  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 75  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 58  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 皮肤记录 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>  </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span> 2024-04-29 20:21:28 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span> 痊愈  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span> 生殖器  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 80 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 76  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 88  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √ </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 黄色  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> √  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 随机潜行位置  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 81  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span> 14  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 皮肤记录皮肤记录皮肤记录皮肤 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>  </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 记录皮肤记录皮肤记录皮肤记录 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>   </span>
            </div>
        </div>
        <div class="body-table-data-class">
            <div class="body-table-data-interval-class" style="width: 140px">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 80px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 120px">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>  </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span></span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 40px;">
                <span>   </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 200px;">
                <span> 皮肤记录皮肤记录皮肤记录皮肤 </span>
            </div>
            <div class="body-table-data-interval-class" style="width: 60px;">
                <span>   </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>